.review{
    border-radius: 20px;
position: absolute;
margin-left: 35%;
   width: 25rem;

}

.checkout-btn{
    background-color: #f2b203;
    width: 100%;
 margin-top: 5%;
    border-radius: 25px;
}

.checkout-btn:hover{
    background-color: #fcc83b;
}